- too_big = diff_file.diff_lines.count > Commit::DIFF_SAFE_LINES
- if too_big
  .suppressed-container
    %a.show-suppressed-diff.js-show-suppressed-diff 变更被抑制。 点击显示。

%table.text-file.code.js-syntax-highlight{ data: diff_view_data, class: too_big ? 'hide' : '' }
  - discussions = @grouped_diff_discussions unless @diff_notes_disabled
  = render partial: "projects/diffs/line",
    collection: diff_file.highlighted_diff_lines,
    as: :line,
    locals: { diff_file: diff_file, discussions: discussions }

  - if !diff_file.new_file && !diff_file.deleted_file && diff_file.highlighted_diff_lines.any?
    - last_line = diff_file.highlighted_diff_lines.last
    - if last_line.new_pos < total_lines
      %tr.line_holder
        = diff_match_line last_line.old_pos, last_line.new_pos, bottom: true
