= form_for [@project.namespace.becomes(Namespace), @project, @protected_tag], html: { class: 'js-new-protected-tag' } do |f|
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        保护标签
    .panel-body
      .form-horizontal
        = form_errors(@protected_tag)
        .form-group
          = f.label :name, class: 'col-md-2 text-right' do
            标签:
          .col-md-10
            = render partial: "projects/protected_tags/dropdown", locals: { f: f }
            .help-block
              支持 
              = link_to '通配符', help_page_path('user/project/protected_tags', anchor: 'wildcard-protected-tags')
              例如
              %code v*
              或者
              %code *-release
              等形式。
        .form-group
          %label.col-md-2.text-right{ for: 'create_access_levels_attributes' }
            允许创建:
          .col-md-10
            .create_access_levels-container
              = dropdown_tag('选择',
                             options: { toggle_class: 'js-allowed-to-create wide',
                             dropdown_class: 'dropdown-menu-selectable',
                             data: { field_name: 'protected_tag[create_access_levels_attributes][0][access_level]', input_id: 'create_access_levels_attributes' }})

    .panel-footer
      = f.submit '保护', class: 'btn-create btn', disabled: true
