- if (@page && @page.persisted?)
  - if can?(current_user, :create_wiki, @project)
    = link_to '#modal-new-wiki', class: "add-new-wiki btn btn-new", "data-toggle" => "modal" do
      新建页面
  = link_to namespace_project_wiki_history_path(@project.namespace, @project, @page), class: "btn" do
    页面历史
  - if can?(current_user, :create_wiki, @project) && @page.latest?
    = link_to namespace_project_wiki_edit_path(@project.namespace, @project, @page), class: "btn" do
      编辑
