- @no_container = true
- page_title "编辑", @milestone.title, "里程碑"
= render "shared/mr_head"

%div{ class: container_class }

  %h3.page-title
    编辑里程碑 #{@milestone.to_reference}

  %hr

  = render "form"
