- @no_container = true
- page_title        "#{@commit.title} (#{@commit.short_id})", "提交"
- page_description  @commit.description
= render "projects/commits/head"

%div{ class: container_class }
  = render "commit_box"
  - if @commit.status
    = render "ci_menu"
  - else
    .block-connector
  = render "projects/diffs/diffs", diffs: @diffs, environment: @environment

  = render "projects/notes/notes_with_form"
  - if can_collaborate_with_project?
    - %w(revert cherry-pick).each do |type|
      = render "projects/commit/change", type: type, commit: @commit, title: @commit.title
