- if current_application_settings.email_author_in_body
  %p.details
    #{link_to @issue.author_name, user_url(@issue.author)} 创建问题:

- if @issue.assignee_id.present?
  %p
    指派给: #{@issue.assignee_name}

- if @issue.description
  %div
  = markdown(@issue.description, pipeline: :email, author: @issue.author)
